<!-- <div class="container">
    <div *ngFor="let play of aaa; let i=index">
        <div class="card">
            <label>{{play.name}}</label>
            <label for="">{{i}}</label>
            <input type="hidden" name="" id="name" value="{{play.path}}" readonly="readonly">
            <button (click)="reproducir(i)"><i class="fa fa-play"></i></button>
            <button (click)="detener()"><i class="fa fa-pause"></i></button>
            <button (click)="agregar(i)">Agregar</button>
        </div>
    </div>
</div> -->
<h1 class="title text-center" *ngIf="state">Tu playlist esta vacia!</h1>
<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content" *ngIf="!state">
            <!-- heading -->
            <h2>Playlist</h2>
            <hr>
            <!-- paragraph -->
            <p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong
                    class="theme-color">Music</strong>.</p>
        </div>
        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <!-- play list -->
                    <div class="playlist-content">
                        <ul class="list-unstyled">
                            <li class="playlist-number" *ngFor="let play of aaa; let i=index">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>{{play.name}}</h4>
                                    <p><strong>Album</strong>: {{play.album}} &nbsp;|&nbsp; <strong>Type</strong>:
                                        {{play.type}}
                                        &nbsp;|&nbsp; <strong>Singer</strong>: {{play.singer}}</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a class="reproducir" (click)="reproducir(i)"><i class="fa fa-play"></i></a>
                                    <a class="detener" (click)="detener()"><i class="fa fa-pause"></i></a>
                                    <a class="agregar" (click)="remover(i)"><i class="fas fa-minus"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>