<!-- Hero block area -->
<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>TopPlaylist</h2>
            <hr>
            <!-- paragraph -->
            <p>We sing the best <strong class="theme-color">Songs</strong> and now we control the world best <strong class="theme-color">Music</strong>.</p>
        </div>
        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">
               
                <div class="col-md-6 col-sm-6">
                    <!-- play list -->
                    <div class="playlist-content">
                        <ul class="list-unstyled">
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track One</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Two</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Three</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Four</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Five</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Six</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Seven</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="playlist-number">
                                <!-- song information -->
                                <div class="song-info">
                                    <!-- song title -->
                                    <h4>Melodi Song Track Eight</h4>
                                    <p><strong>Album</strong>: Title &nbsp;|&nbsp; <strong>Type</strong>: Rock &nbsp;|&nbsp; <strong>Singer</strong>: Dawn</p>
                                </div>
                                <!-- music icon -->
                                <div class="music-icon">
                                    <a href="#"><i class="fa fa-play"></i></a>
                                    <a href="#"><i class="fa fa-pause"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ hero end -->