<!-- events -->


<div class="container text-center events parallax-three"*ngIf="ver">
    <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let singer of newArray; let i=index">
            <div class="card" style="height: 669px;">
                <div class="card-body">
                    <div class="events-item ">
                        <!-- image container -->
                        <div class="figure">
                            <!-- event date -->
                            <div class="event-date">
                                24 <span class="emonth">Jan</span>
                                <div class="clearfix"></div>
                                <!-- time -->
                                <span class="etime">06:30 pm</span>
                            </div>
                            <!-- event location -->
                            <span class="event-location"><i class="fa fa-map-marker"></i>{{singer.ubicacion}}</span>
                            <!-- image -->
                            <img class="img-responsive" src={{singer.image}} alt=""
                                style="width:250px;height: 280px;" />
                            <!-- image hover -->
                            <div class="img-hover">
                                <!-- hover icon -->
                                <a href="#"><i class="fa fa-play-circle"></i></a>
                            </div>
                        </div>
                        <!-- event information -->
                        <div class="event-info scroll">
                            <!-- event title -->
                            <h3>Sound Of melodi In Instrumesnts</h3>
                            <!-- horizontal line -->
                            <hr />
                            <!-- paragraph -->
                            <div class="">
                            <p>{{singer.descripcion}}</p>
                            </div>
                            <!-- buy ticket button link -->
                           
                        </div>
                    </div>
                    <button class="btn btn-lg btn-theme" data-toggle="modal"
                    (click)="canciones(i)">{{singer.singer}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center " *ngIf="!ver">
    <div class="row">
        <!-- play list -->
        <div class="playlist-content">
            <div class="col-md-6 col-sm-6" *ngFor="let singer of newArray2;let y=index">
                <div class="playlist-content">
                    <ul class="list-unstyled">
                        <li class="playlist-number">
                            <!-- song information -->
                            <div class="song-info">
                                <!-- song title -->
                                <h4><strong>Singer: </strong>{{singer.singer}}</h4>
                                <h5><strong>Nombre cancion: </strong>{{singer.name}}</h5>
                                <p><strong>Album</strong>: {{singer.album}} &nbsp;|&nbsp; <strong>Type</strong>:
                                    {{singer.type}}
                                    &nbsp;|&nbsp;</p>
                            </div>
                            <!-- music icon -->
                            <div class="music-icon">
                                <a class="reproducir" (click)="reproducir(y)"><i class="fa fa-play"></i></a>
                                <a class="detener" (click)="detener(y)"><i class="fa fa-pause"></i></a>
                                <a class="agregar" (click)="agregar(y)"><i class="fas fa-plus"></i></a>
                            </div>

                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <button class=" btn btn-danger mb-3 text-dark" (click)="hiddenCanciones()">Ver menos</button>
    </div>